# Flutter/Dart/Pub stuff
.dart_tool/
.packages
.pub-cache/
build/

# Android
*.apk
*.aar
*.keystore

# iOS
**/Pods/
*.xcworkspace
*.xcuserstate
DerivedData/

# VS Code
.vscode/

# Mac/Windows
.DS_Store
*.iml
